body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #011533;
}

#app-container {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.panel {
  background: #143366;
  padding: 80px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.highlight {
  box-shadow: 0 0 20px rgba(56,189,248,0.8);
  border: 2px solid #38bdf8;
}

.dim {
  opacity: 0.4;
}

.pulse {
  animation: pulseBorder 1s infinite;
}

.title{
  color: black;
  text-align: center;
  padding: 40px;
}

@keyframes pulseBorder {
  0% { border-color: #38bdf8; }
  50% { border-color: #f97316; }
  100% { border-color: #38bdf8; }
}

.shift {
  transform: translateX(10px);
}
